block vars
  - var pageTitle = "Home"
  - var description = "Ampersand.js, Javascript, ampersand, Node.js, Apps, HTML5"

extends templates/layout

block content

  header.hero
    .illustration.splash
      img(src="/public/images/simplewebrtc-illustration.svg")
    h1 Connect with the world's easiest WebRTC library
    p You can build cool stuff with WebRTC in five minutes. Learn how to 
      a(href="#") get started 
      | with SimpleWebRTC or take a peek at 
      a(href="http://simplewebrtc.com/demo.html") this demo
      | *.
    small.footnote *note that screensharing won't work because HTTPS is required

  section.splash

    hr

    .callout.talky
      h2 Want to see what this library can do? Check out Talky.io!
      a.logo.logo-talky(href="https://talky.io/") Talky.io
      p
        a(href="https://talky.io/") Talky.io 
        | is truly simple video chat and screen sharing, powered by SimpleWebRTC.

    hr

    .callout.modules-list
      h2 Need more control?
      p No problem. SimpleWebRTC is comprised of a whole bunch of independent little modules to help you out.
      br
      .cf
        for module in globals.featured
          .module-card
            h4.module-name= module.name
            p.module-author by #{module.author.name}
            p.module-description= module.description
            p.module-links
              if module.homepage
                a(href= module.homepage) github
              a(href= module.npmlink) npm
      p [let's add all the modules in here]

    hr

    .callout.human-javascript
      h2 A foundation for building simple but powerful client-side apps
      img.humanjs-ipad(src="/public/images/human-javascript.png")
      //- Needs svg and png fallback
      a.logo.logo-humanjs(href="http://humanjavascript.com/") Human JavaScript
      p Henrik Joreteg's 
        a(href="http://humanjavascript.com/")
          em Human Javascript 
        | describes approaches to build well-structured, maintainable apps to contain your WebRTC experience.
      a.button.button-secondary(href="https://gumroad.com/l/humanjs") Buy the book for $39
      a.button.button-secondary(href="http://read.humanjavascript.com/") Read it free online
